[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "*"
pyfm = {ref = "0696c980993889a9429e4ab0b6c7dc8be6dac4de", git = "https://github.com/coreylynch/pyFM.git"}

[dev-packages]

[requires]
python_version = "3.9"
